<div class="panel panel-primary">
  <div class="panel-heading">
    <legend>Edit Business-Function </legend>
    <div class="form-group">
      <form id="add-bfunc">
        <div class="form-group">
          <b>
            <label>Name</label>
          </b>
          <input type="form-group" [(ngModel)]="name" class="form-control" name="name" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group">
          <b>
            <label>Description</label>
          </b>
          <textarea type="text" [(ngModel)]="descr" class="form-control" name="descr" [ngModelOptions]="{standalone: true}"></textarea>

          <fieldset class="form-group" [(ngModel)]="typ" name="typ" [ngModelOptions]="{standalone: true}" ngDefaultControl>
            <b>
              <label for="Typ">Typ</label>
            </b>
            <div class="form-check">
              <label class="form-check-label">
                <input type="radio" [(ngModel)]="typ" class="form-check-input" name="typ" [ngModelOptions]="{standalone: true}" id="optionsRadios1"
                  value="Functional" checked=""> Functional
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input type="radio" [(ngModel)]="typ" class="form-check-input" name="typ" [ngModelOptions]="{standalone: true}" id="optionsRadios2"
                  value="Non-Functional"> Non-Functional
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input type="radio" [(ngModel)]="typ" class="form-check-input" name="typ" [ngModelOptions]="{standalone: true}" id="optionsRadios3"
                  value="Domain"> Domain
              </label>
            </div>
            <div class="form-group">
              <b>
                <label for="BProcessID">Business Processes</label>
              </b>
              <select multiple="" class="form-control" [(ngModel)]="bprocess" name="bprocess" [ngModelOptions]="{standalone: true}">
                <option *ngFor='let bprocess of bprocessliste'>{{bprocess.AName}}</option>
              </select>
            </div>
    
            <div class="form-group">
              <b>
                <label for="ApplicationID">Applicantion Systems and Applications</label>
              </b>
              <select multiple="true" class="form-control" [(ngModel)]="applications" name="applications" [ngModelOptions]="{standalone: true}">
                <option *ngFor='let apps of applicationliste'>{{apps.AName}}</option>
              </select>
            </div>
          </fieldset>
        </div>
        <button (click)="fbEditData(name, descr, typ, bprocess,applications)" type="submit" class="btn btn-primary" [routerLink]="['/function']">Submit</button>
      </form>

    </div>
  </div>

</div>