<!-- <h1>{{title}}</h1>

<div class="video-anordnung" *ngFor= 'let item of videoList'>
    <a href='tutorial/{{item.slug}}'>{{item.name}}</a> -->
<!-- <a href='{{item.slug}}' *ngIf='item.slug!="item-4"'>{{item.name}}</a>  -->

<!-- <div class="video-div" *ngIf='item.embed'>   <iframe width="400" height="227" [src]="getEmbedUrl(item) | ytlink" frameborder="0" allowfullscreen></iframe>
      {{item.text}}      
    </div>


</div> -->





<!-- <a href='{{item.slug}}' *ngIf='item.slug!="item-4"'>{{item.name}}</a>  -->

<!-- <div class="video-div" *ngIf='item.embed'>   <iframe width="400" height="227" [src]="getEmbedUrl(item) | ytlink" frameborder="0" allowfullscreen></iframe>
      {{item.text}}
     -->

<br>
<div class="table table-striped table-hover table-bordered">
  <table class="thead-dark">
    <tr>
      <th class="pointer">
        Name
      </th>
      <!--  <th class="pointer" ng-options="item.AName as item.AName for item in applicationlist  | unique:'AName'">{{item.AName}} -->
      <th class="pointer" *ngFor='let item of applicationlist'>{{item.AName}}
      </th>
    </tr>
    <!-- <tr  ng-options="item2.AName as item2.AName for item2 in liste group by item.AName"> -->
    <tr *ngFor='let item2 of liste'>
      <th class="pointer">{{item2.AName}}</th>
      <ng-container *ngFor='let item of applicationlist'>
          <td *ngIf="item.AName==item2.HApllication; else wrong">X</td>
          <ng-template #wrong><td></td></ng-template>
        </ng-container>
      
    </tr>
  </table>
</div>

<!--
        <div class="cross-liste">
          <table class="table table-striped table-hover table-bordered">
            <thead class="thead-dark">
              <tr >
                <th class="pointer" *ng-repeat="item in applicationlist | unique: 'AName'">{{item.AName}}
                </th>
              </tr>
            </thead></table></div> -->