
<br>
<div class="table table-striped table-hover table-bordered">
  <table class="thead-dark">
    <tr>
      <th class="pointer">
        Name
      </th>
      <!--  <th class="pointer" ng-options="item.AName as item.AName for item in applicationlist  | unique:'AName'">{{item.AName}} -->
      <th class="pointer" *ngFor='let item of applicationlist'>{{item.AName}}
      </th>
    </tr>
    <!-- <tr  ng-options="item2.AName as item2.AName for item2 in liste group by item.AName"> -->
    <tr *ngFor='let item2 of liste'>
      <th class="pointer">{{item2.AName}}</th>
      <ng-container *ngFor='let item of applicationlist'>
          <td *ngIf="item.AName==item2.HApllication; else wrong">X</td>
          <ng-template #wrong><td></td></ng-template>
        </ng-container>
      
    </tr>
  </table>
</div>