
<!-- <h1>{{title}}</h1>

<div class="video-anordnung" *ngFor= 'let item of videoList'>
    <a href='tutorial/{{item.slug}}'>{{item.name}}</a> -->
    <!-- <a href='{{item.slug}}' *ngIf='item.slug!="item-4"'>{{item.name}}</a>  -->

     <!-- <div class="video-div" *ngIf='item.embed'>   <iframe width="400" height="227" [src]="getEmbedUrl(item) | ytlink" frameborder="0" allowfullscreen></iframe>
      {{item.text}}      
    </div>


</div> -->

<!-- <tbody>
    <tr ng-repeat="eintrag in liste">
      <td>{{ eintrag.AName }}</td> -->
      <!-- <td ng-repeat="char in characteristics"> -->
        <!-- <input ng-model="(crossData | filter:{beerId: beer.id, characteristicId: char.id})[0].value"/> -->
      <!-- </td> -->
    <!-- </tr>
  </tbody> -->



    <!-- <a href='{{item.slug}}' *ngIf='item.slug!="item-4"'>{{item.name}}</a>  -->

     <!-- <div class="video-div" *ngIf='item.embed'>   <iframe width="400" height="227" [src]="getEmbedUrl(item) | ytlink" frameborder="0" allowfullscreen></iframe>
      {{item.text}}
     -->     
     <!-- <div class="video-anordnung" *ngFor= 'let item of liste'> -->
     {{liste.AName}}
     <!-- </div> -->
