<div class="panel panel-primary">
  <div class="panel-heading">
    <legend>Application</legend>
    <div class="form-group">
        <b>
        <label for="name">Name</label>
      </b>
        <input type="form-group" [(ngModel)]="name" class="form-control" name="name" placeholder="Enter Name" [ngModelOptions]="{standalone: true}">
      </div>
      <div class="form-group">
        <b>
        <label for="description">Description</label>
      </b>
        <textarea class="form-control" [(ngModel)]="descr" name="descr" placeholder="Enter Description" rows="3" [ngModelOptions]="{standalone: true}" ></textarea>
      </div>
    
    <!-- <div class="form-group">
      <b>
        <label>Version</label>
      <!-- war es nicht Vision ? -->
      <!-- </b>
      <input type="text" class="form-control"  name="version" ngModel>
    </div>  -->

    <div class="form-group">
      <b>
        <label class="control-label">Usage Time</label>
      </b>
      <form class="dateFrom" #myForm="ngForm" novalidate>
        <my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="dateFrom" required placeholder="from" [ngModelOptions]="{standalone: true}"> </my-date-picker>
      </form>
      <form class="dateTo" #myForm="ngForm" novalidate>
        <my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="dateTo" required placeholder="to" [ngModelOptions]="{standalone: true}">  </my-date-picker>
      </form>
    </div>

      <div class="form-group">
        <b>
          <label>Geography</label>
        </b>
        <input type="text" class="form-control" placeholder="Geography" name="geography" [(ngModel)]="geography" [ngModelOptions]="{standalone: true}" >
      </div>

      <button type="submit" class="btn btn-primary"  (click)="fbPostData(name,descr,dateFrom,dateTo,geography)" >Add</button>
      
  </div>

  <!-- <div class="form-group">
    <div class="col-md-3 search">
      <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search by Name" />
    </div>
  </div> -->