<div class="panel panel-primary">
    <div class="panel-heading">
      <legend>Business-process</legend>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="form-group" [(ngModel)]="name" class="form-control" name="name" placeholder="Enter Name" [ngModelOptions]="{standalone: true}">
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" [(ngModel)]="descr" name="descr" placeholder="Enter Description" rows="3" [ngModelOptions]="{standalone: true}" ></textarea>
      </div>
      <div class="form-group">
          <label for="type">Type</label>
          <select class="form-control" id="type">
            <option>functional</option>
            <option>non-functional</option>
            <option>domain</option>
          </select>
        </div>
      <div class="form-group">
        <label for="typ">Typ:</label>
        <select multiple="" class="form-control" [(ngModel)]="typ" name="typ" [ngModelOptions]="{standalone: true}">
          <option *ngFor='let typ of typliste'>{{typ.Name}}</option>          
        </select>
      </div>

 
    <button (click)="fbPostData(name, descr, typ)" type="submit" class="btn btn-primary">Add</button>
    
  
  </div>
</div>