.panel-primary{
    padding: 30px;

}

.search{
    padding: 0px;
}

.header{
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: rgb(238, 238, 238);
 
}

.pointer{
    cursor: pointer;
}
