<div class="panel panel-primary">
  <div class="panel-heading">
    <legend>Business Process</legend>

<form class="myform">
    <fieldset>
      <div class="form-group">
        <b>
        <label for="name">Name</label>
      </b>
        <input type="form-group" [(ngModel)]="name" class="form-control" name="name" placeholder="Enter Name" [ngModelOptions]="{standalone: true}">
      </div>
      <div class="form-group">
        <b>
        <label for="description">Description</label>
      </b>
        <textarea class="form-control" [(ngModel)]="descr" name="descr" placeholder="Enter Description" rows="3" [ngModelOptions]="{standalone: true}" ></textarea>
      </div>
     <!-- <div class="form-group">
        <label for="bfunctions">Business Functions:</label>
        <select multiple="" class="form-control" [(ngModel)]="bfunction" name="bfunction" [ngModelOptions]="{standalone: true}">
          <option *ngFor='let bfunc of bfuncliste'>{{bfunc.Name}}</option>          
        </select> -->
        
        <fieldset class="form-group" [(ngModel)]="typ" name="typ" [ngModelOptions]="{standalone: true}" ngDefaultControl>
          <b>
            <label for="Typ">Typ</label>
          </b>
          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="typ" id="optionsRadios1" value="Functional" checked="">
              Functional
            </label>
          </div>
          <div class="form-check">
          <label class="form-check-label">
              <input type="radio" class="form-check-input" name="typ" id="optionsRadios2" value="Non_Functional">
              Non-Functional
            </label>
          </div>
          <div class="form-check">
          <label class="form-check-label">
              <input type="radio" class="form-check-input" name="typ" id="optionsRadios3" value="Domain">
              Domain
            </label>
          </div>
        </fieldset>
    <button (click)="fbPostData(name, descr, typ)" type="submit" class="btn btn-primary">Add</button>
    </fieldset>
  </form>

</div>
</div>