

<div class="panel panel-primary">
    <div class="panel-heading">
      <legend>Application System</legend>
    </div>
  <div class="form-group">
  <b>
  <label for="name">Name</label>
</b>
  <input type="form-group" [(ngModel)]="name" class="form-control" name="name" placeholder="Enter Name" [ngModelOptions]="{standalone: true}">
</div>
<div class="form-group">
  <b>
  <label for="ApplicationID">Application-ID</label>
</b>
  <textarea class="form-control" [(ngModel)]="descr" name="descr" placeholder="Enter Application-ID" rows="1" [ngModelOptions]="{standalone: true}" ></textarea>
</div>
<button (click)="fbPostData(name, descr)" type="submit" class="btn btn-primary">Add</button>

</div>