

<div class="panel panel-primary">
  <div class="panel-heading">
    <legend>Business-Function </legend>
    <div class="form-group">
<form id="add-bfunc">
  <div class="form-group">
    <label>Name</label>
    <input type="form-group" [(ngModel)]="name" class="form-control" name="name" placeholder="Enter Name" [ngModelOptions]="{standalone: true}">
  </div>
  <div class="form-group">
    <label>Description</label>
    <textarea type="text" [(ngModel)]="descr" class="form-control" name="descr" placeholder="Enter Description" [ngModelOptions]="{standalone: true}"></textarea>
    <!-- <label>Business Function to Remove</label>
    <input type="text" [(ngModel)]="key" name="txt" class="form-control" name="descr" placeholder="Key to be removed" [ngModelOptions]="{standalone: true}">  -->
  </div>
  <button (click)="fbPostData(name, descr)" type="submit" class="btn btn-primary">Add</button>
</form> 
</div> 
</div>   

  <div class="form-group">
      <div class="col-md-3 search" >
        <input type="text" [(ngModel)]="searchText" 
               class="form-control" placeholder="Search by Name" />
      </div>
    </div>

  <div class="bfunc-liste">
  <table class="table table-striped table-hover table-bordered">
    <thead class="thead-dark">
      <tr>
        <th >Name <i class="fa fa-sort" aria-hidden="true"></i></th>
        <th >Description <i class="fa fa-sort" aria-hidden="true"></i></th>
        <th >Datum <i class="fa fa-sort" aria-hidden="true"></i></th>
        <th >Änderungsdatum <i class="fa fa-sort" aria-hidden="true"></i></th>
        <th  width="250px" class="text-center">Action</th>        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let bfunc of liste | searchName: searchText">
        <td>{{bfunc.AName}}</td>
        <td>{{bfunc.BDescr}}</td>
       <!-- <a [routerLink]="['function/{{bfunc.Name}}']" [queryParams]="{{bfunc.Name}}">{{bfunc.Name}}</a> -->
       <td>{{bfunc.DCreationDate}}</td>
       <td>{{bfunc.EEditDate}}</td>
       <td align="center">
          <button type="button" class="btn btn-outline-primary" 
              (click)="fbDeleteData(bfunc.$key=bfunc.AName)" >
            <i class="fa fa-trash-o" aria-hidden="true"></i> </button>
          <button type="button" class="btn btn-outline-primary" [routerLink]="['/function', bfunc.AName]"> 
            <i class="fa fa-pencil" aria-hidden="true"></i> </button>
        </td>
      </tr>

    </tbody>
  </table> 
  </div> <!-- div zu ende bfunc liste -->


</div> <!-- div panel primary -->

  <!-- <div class="container">
  <app-bfunc-list></app-bfunc-list>
</div> -->