<div class="panel panel-primary">
  <div class="panel-heading">
    <legend class="header">Business Function </legend>
    <div class="form-group">
      <form id="add-bfunc">
          <div class="form-group">
              <fieldset disabled="">
              <b>
                <label>ID</label>
              </b>
              <input type="form-group" selectable="false" [(ngModel)]="id" class="form-control" name="id" [ngModelOptions]="{standalone: true}">
              </fieldset>
            </div>
        <div class="form-group">
          <b>
            <label>Name</label>
          </b>
          <input type="form-group" [(ngModel)]="name" class="form-control" name="name" placeholder="Enter Name" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group">
          <b>
            <label>Description</label>
          </b>
          <textarea type="text" [(ngModel)]="descr" class="form-control" name="descr" placeholder="Enter Description" [ngModelOptions]="{standalone: true}"></textarea>
          <!-- <label>Business Function to Remove</label>
    <input type="text" [(ngModel)]="key" name="txt" class="form-control" name="descr" placeholder="Key to be removed" [ngModelOptions]="{standalone: true}">  -->
        </div>

        <fieldset class="form-group" [(ngModel)]="typ" name="typ" [ngModelOptions]="{standalone: true}" ngDefaultControl>
          <b>
            <label for="Typ">Typ</label>
          </b>
          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" [(ngModel)]="typ" class="form-check-input" name="typ" [ngModelOptions]="{standalone: true}" id="optionsRadios1"
                value="Functional" checked=""> Functional
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" [(ngModel)]="typ" class="form-check-input" name="typ" [ngModelOptions]="{standalone: true}" id="optionsRadios2"
                value="Non-Functional"> Non-Functional
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" [(ngModel)]="typ" class="form-check-input" name="typ" [ngModelOptions]="{standalone: true}" id="optionsRadios3"
                value="Domain"> Domain
            </label>
          </div>
        </fieldset>
        <div class="form-group">
          <b>
            <label for="BProcessID">Business Processes</label>
          </b>
          <select multiple="" class="form-control" [(ngModel)]="bprocess" name="bprocess" [ngModelOptions]="{standalone: true}">
            <option *ngFor='let bprocess of bprocessliste'>{{bprocess.AName}}</option>
          </select>
        </div>

        <div class="form-group">
          <b>
            <label for="ApplicationID">Applicantion Systems and Applications</label>
          </b>
          <select multiple="true" class="form-control" [(ngModel)]="applications" name="applications" [ngModelOptions]="{standalone: true}">
            <option *ngFor='let apps of applicationliste'>{{apps.AName}}</option>
          </select>
        </div>

       <button (click)="fbPostData(name, descr,typ,bprocess,applications)" type="submit" class="btn btn-primary">Add</button>
      </form>
    </div>
  </div>


  <div class="form-group">
    <div class="col-md-3 search">
      <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search by Name" />
    </div>
  </div>

  <div class="bfunc-liste">
    <table class="table table-striped table-hover table-bordered">
      <thead class="thead-dark">
        <tr>
            <th class="pointer" (click)="sort('ZID')">ID
                <i class="fa" [ngClass]="{'fa-sort': column != 'ZID', 
                                  'fa-sort-asc': (column == 'ZID' && !isDesc), 
                                  'fa-sort-desc': (column == 'ZID' && isDesc) }" aria-hidden="true"> </i>
          </th>
          <th class="pointer" (click)="sort('AName')">Name
            <i class="fa" [ngClass]="{'fa-sort': column != 'AName', 
                              'fa-sort-asc': (column == 'AName' && !isDesc), 
                              'fa-sort-desc': (column == 'AName' && isDesc) }" aria-hidden="true"> </i>
          </th>
          <th class="pointer" (click)="sort('BDescr')">Description
            <i class="fa" [ngClass]="{'fa-sort': column != 'BDescr', 
                              'fa-sort-asc': (column == 'BDescr' && !isDesc), 
                              'fa-sort-desc': (column == 'BDescr' && isDesc) }" aria-hidden="true"> </i>
          </th>
          <th class="pointer" (click)="sort('FTyp')">Type
            <i class="fa" [ngClass]="{'fa-sort': column != 'FTyp', 
                              'fa-sort-asc': (column == 'FTyp' && !isDesc), 
                              'fa-sort-desc': (column == 'FTyp' && isDesc) }" aria-hidden="true"> </i>
          </th>
          <th class="pointer" (click)="sort('GBProcess')">Business Process
            <i class="fa" [ngClass]="{'fa-sort': column != 'GBProcess', 
                              'fa-sort-asc': (column == 'GBProcess' && !isDesc), 
                              'fa-sort-desc': (column == 'GBProcess' && isDesc) }" aria-hidden="true"> </i>
          </th>
          <th class="pointer" (click)="sort('HApllication')">Applicantion Systems and Applications
            <i class="fa" [ngClass]="{'fa-sort': column != 'HApllication', 
                              'fa-sort-asc': (column == 'HApllication' && !isDesc), 
                              'fa-sort-desc': (column == 'HApllication' && isDesc) }" aria-hidden="true"> </i>
          </th>
          <th class="pointer" (click)="sort('DCreationDate')">Creation Date
            <i class="fa" [ngClass]="{'fa-sort': column != 'DCreationDate', 
                                'fa-sort-asc': (column == 'DCreationDate' && !isDesc), 
                                'fa-sort-desc': (column == 'DCreationDate' && isDesc) }" aria-hidden="true"> </i>
          </th>

          <th class="pointer" (click)="sort('KEditDate')">Edit Date
            <i class="fa" [ngClass]="{'fa-sort': column != 'KEditDate', 
                                  'fa-sort-asc': (column == 'KEditDate' && !isDesc), 
                                  'fa-sort-desc': (column == 'KEditDate' && isDesc) }" aria-hidden="true"> </i>
          </th>
          <th width="250px" class="text-center">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let bfunc of liste | searchName: searchText | orderBy: {property: column, direction: direction}">
          <td>{{bfunc.ZID}}</td>
          <td>{{bfunc.AName}}</td>
          <td>{{bfunc.BDescr}}</td>
          <td>{{bfunc.FTyp}}</td>
          <td>{{bfunc.GBProcess}}</td>
          <td>{{bfunc.HApllication}}</td>
          
          <!-- <a [routerLink]="['function/{{bfunc.Name}}']" [queryParams]="{{bfunc.Name}}">{{bfunc.Name}}</a> -->
          <td>{{bfunc.DCreationDate | date: 'yyyy-MM-dd; HH:mm:ss'}}</td>
          <td>{{bfunc.KEditDate | date: 'yyyy-MM-dd; HH:mm:ss'}}</td>
          <td align="center">
            <button type="button" class="btn btn-outline-primary" (click)="fbDeleteData(bfunc.$key=bfunc.ZID)">
              <i class="fa fa-trash-o" aria-hidden="true"></i>
            </button>
            <button type="button" class="btn btn-outline-primary" [routerLink]="['/function', bfunc.ZID]">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </button>
          </td>
        </tr>

      </tbody>
    </table>
  </div>
  <!-- div zu ende bfunc liste -->


</div>
<!-- div panel primary -->

<!-- <div class="container">
  <app-bfunc-list></app-bfunc-list>
</div> -->