

<!-- <ul id="bfunc-listing">

 <div class="single-bfunctions" 
 *ngFor='let bfunc of liste'>
<b> Name: </b>{{bfunc.Name}} <br>
<b> Beschreibung: </b>  {{bfunc.Descr}}<br>

<button (click)="deleteSth(bfunc.$key=bfunc.Name)">Delete Item </button>

</div>
</ul> -->

<div class="panel panel-primary">
  <div class="panel-heading">
    <label>Business-Function </label>
    <div class="form-group">
<form id="add-bfunc">
  <div class="form-group">
    <label>Name</label>
    <input type="form-group" [(ngModel)]="name" class="form-control" name="name" placeholder="Enter Name" [ngModelOptions]="{standalone: true}">
    <label>Description</label>
    <input type="text" [(ngModel)]="descr" class="form-control" name="descr" placeholder="Enter Description" [ngModelOptions]="{standalone: true}">
    <label>Business Function to Remove</label>
    <input type="text" [(ngModel)]="key" name="txt" class="form-control" name="descr" placeholder="Key to be removed" [ngModelOptions]="{standalone: true}"> 
  </div>   
</form> 

<form>
  <button (click)="fbPostData(name, descr)" type="submit" class="btn btn-primary">Add</button>
</form> 

<ul id="bfunc-listing">
  <br>
   <div class="single-bfunctions" 
   *ngFor='let bfunc of liste'>
  <b> Name: </b>{{bfunc.Name}} <br>
  <b> Beschreibung: </b>  {{bfunc.Descr}}<br>
  <button (click)="fbDeleteData(bfunc.$key=bfunc.Name)" type="submit" class="btn btn-primary">Delete Item</button>
 
  </div>
  </ul>
<div class="container">
  <app-bfunc-list></app-bfunc-list>
</div>