/* You can add global styles to this file, and also import other style files */
body {
    background-color: rgb(255, 255, 255);
    
}

h1 {
    color: rgb(111, 93, 230);
}


p {
    font-family: verdana;
    font-size: 20px;
}




/* .mr-auto, .mx-auto {
    margin-right: auto!important;
} */
/* .navbar-brand
{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin:0 auto;
} */
/* .navbar-toggle {
    z-index:3;
} */