/* You can add global styles to this file, and also import other style files */
body {
    background-color: rgb(255, 255, 255);
    
}

h1 {
    color: rgb(111, 93, 230);
}


p {
    font-family: verdana;
    font-size: 20px;
}

.footer{
position: absolute;
bottom: 0px;
color: rgb(142, 143, 143);
}

#form{
    padding:15px;
}

.navbar-adjustment{
    width: 100%;
}

.bg-color{
    background-color: #2C3E50 !important;
}
.activ-link{
    color: #18BC9C !important
}

.btn-style {
    color: #fff;
    background-color: #95a5a6;
    border-color: #95a5a6;
}

.navbar-dark .navbar-toggler {
    color: #fff;
    border-color: rgba(255, 255, 255, 0.1);
}


/* .mr-auto, .mx-auto {
    margin-right: auto!important;
} */
/* .navbar-brand
{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin:0 auto;
} */
/* .navbar-toggle {
    z-index:3;
} */