<div class="jumbotron">

    <h1 class="display-3">EAM-Lab</h1>
    <p class="lead">EAM-Lab Foundation ist ein Hochschulprojekt, welches von Studenten der Frankfurt University of Applied Sciences in Zusammenarbeit
      mit der Deutschen Post AG entstanden ist. </p>
    <hr class="my-4">
    <h6>Arz, Murat</h6>
    <h6>Erhart, Harmandeep</h6>
    <h6>Köber, Daniel</h6>
    <h6>Parvar, Aran</h6>
    <h6>Tzavelas, Stelios</h6>

</div>



<div class="col-sm-6">
  <div class="card text-white bg-primary">
    <div class="card-body">
      <blockquote class="card-blockquote">
        <p>Dashboard</p>

      </blockquote>
    </div>
  </div>
</div>



<div class="col-sm-6">
  <div class="card text-white bg-secondary">
    <div class="card-body">
      <blockquote class="card-blockquote">

        <p (click)="onSelect()">Business Function</p>
        <div *ngIf="BusinessClicked == true">
          Name: {{BusinessFunction.test}}

        </div>


      </blockquote>
    </div>
  </div>
  <div class="card text-white bg-success">
    <div class="card-body">
      <blockquote class="card-blockquote">
        <p>Business Process</p>

      </blockquote>
    </div>
  </div>
</div>



<div class="col-sm-6">
  <div class="card text-white bg-info">
    <div class="card-body">
      <blockquote class="card-blockquote">
        <p>Application System</p>

      </blockquote>
    </div>
  </div>
  <div class="card text-white bg-warning">
    <div class="card-body">
      <blockquote class="card-blockquote">
        <p>Application</p>

      </blockquote>
    </div>
  </div>
</div>