<div class="jumbotron">

    <h1 class="display-3">EAM-Lab</h1>
    <p class="lead">EAM-Lab Foundation ist ein Hochschulprojekt, welches von Studenten der Frankfurt University of Applied Sciences in Zusammenarbeit
      mit der Deutschen Post AG entstanden ist. </p>
</div>


<!-- <div class="row">
    <div class="column">
      <div class="card">
        <img src="assets/images/stelios.jpg" alt="Jane" style="width:100%">
        <div class="container">
          <h2>Jane Doe</h2>
          <p class="title">CEO &amp; Founder</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>example@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="assets/images/stelios.jpg" alt="Mike" style="width:100%">
        <div class="container">
          <h2>Mike Ross</h2>
          <p class="title">Art Director</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>example@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="assets/images/stelios.jpg" alt="John" style="width:100%">
        <div class="container">
          <h2>John Doe</h2>
          <p class="title">Designer</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>example@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div> -->

  <h4>Das Team</h4>
<div class=" team-presentation">
  
    <img src="assets/images/stelios.jpg" class="image" alt="Stelios">
    <img src="assets/images/daniel.jpg" class="image" alt="Daniel">   
    <img src="assets/images/anonym.jpg" class="image" alt="Ronny">   
    <img src="assets/images/murat.jpg" class="image" alt="Murat">   
    <img src="assets/images/anonym.jpg" class="image" alt="Aran">   
</div>



<div class="col-sm-6">
  <div class="card text-white bg-primary">
    <div class="card-body">
      <blockquote class="card-blockquote">
        <p>Dashboard</p>

      </blockquote>
    </div>
  </div>
</div>



<div class="col-sm-6">
  <div class="card text-white bg-secondary">
    <div class="card-body">
      <blockquote class="card-blockquote">

        <p (click)="onSelect()">Business Function</p>
        <div *ngIf="BusinessClicked == true">
          Name: {{BusinessFunction.test}}

        </div>


      </blockquote>
    </div>
  </div>
  <div class="card text-white bg-success">
    <div class="card-body">
      <blockquote class="card-blockquote">
        <p>Business Process</p>

      </blockquote>
    </div>
  </div>
</div>



<div class="col-sm-6">
  <div class="card text-white bg-info">
    <div class="card-body">
      <blockquote class="card-blockquote">
        <p>Application System</p>

      </blockquote>
    </div>
  </div>
  <div class="card text-white bg-warning">
    <div class="card-body">
      <blockquote class="card-blockquote">
        <p>Application</p>

      </blockquote>
    </div>
  </div>
</div>