<div class="jumbotron">

  <h1 class="display-3">EAM-Lab</h1>
  <p class="lead">EAM-Lab Foundation ist ein Hochschulprojekt, welches von Studenten der Frankfurt University of Applied Sciences in Zusammenarbeit
    mit der Deutschen Post AG entstanden ist. </p>
</div>


<!-- <div class="row">
    <div class="column">
      <div class="card">
        <img src="assets/images/stelios.jpg" alt="Jane" style="width:100%">
        <div class="container">
          <h2>Jane Doe</h2>
          <p class="title">CEO &amp; Founder</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>example@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="assets/images/stelios.jpg" alt="Mike" style="width:100%">
        <div class="container">
          <h2>Mike Ross</h2>
          <p class="title">Art Director</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>example@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="assets/images/stelios.jpg" alt="John" style="width:100%">
        <div class="container">
          <h2>John Doe</h2>
          <p class="title">Designer</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>example@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div> -->



<!-- 
<div class="col-sm-6">
  <div class="card text-white bg-primary">
    <div class="card-body">
      <blockquote class="card-blockquote">
        <p>Dashboard</p>

      </blockquote>
    </div>
  </div>
</div>



<div class="col-sm-6">
  <div class="card text-white bg-secondary">
    <div class="card-body">
      <blockquote class="card-blockquote">

        <p (click)="onSelect()">Business Function</p>
        <div *ngIf="BusinessClicked == true">
          Name: {{BusinessFunction.test}}

        </div>


      </blockquote>
    </div>
  </div>
  <div class="card text-white bg-success">
    <div class="card-body">
      <blockquote class="card-blockquote">
        <p>Business Process</p>

      </blockquote>
    </div>
  </div>
</div>



<div class="col-sm-6">
  <div class="card text-white bg-info">
    <div class="card-body">
      <blockquote class="card-blockquote">
        <p>Application System</p>

      </blockquote>
    </div>
  </div>
  <div class="card text-white bg-warning">
    <div class="card-body">
      <blockquote class="card-blockquote">
        <p>Application</p>

      </blockquote>
    </div>
  </div>
</div> -->
  <div class="row align-items-center function-container">
    <div class="col">
      <a class="nav-link" routerLink="/process">
        <img src="assets/images/Icon-Placeholder.jpg" class="image" alt="Stelios">
      </a>
    </div>
    <div class="col">
      <a class="nav-link" routerLink="/function">
        <img src="assets/images/Icon-Placeholder.jpg" class="image" alt="Stelios">
      </a>
    </div>
    <div class="col">
      <a class="nav-link" routerLink="/appsystem">
        <img src="assets/images/Icon-Placeholder.jpg" class="image" alt="Stelios">
      </a>
    </div>
    <div class="col">
      <a class="nav-link" routerLink="/application">
        <img src="assets/images/Icon-Placeholder.jpg" class="image" alt="Stelios">
      </a>
    </div>
  </div>


<hr class="my-4">

<div class="container">
  <h3 align="center">Das Team</h3>

  <div class="row align-items-center">
    <div class="col">
      <img src="assets/images/stelios.jpg" class="image" alt="Stelios">
    </div>
    <div class="col">
      <img src="assets/images/daniel.jpg" class="image" alt="Daniel">
    </div>
    <div class="col">
      <img src="assets/images/ronny.jpg" class="image" alt="Ronny">
    </div>
    <div class="col">
      <img src="assets/images/murat.jpg" class="image" alt="Murat">
    </div>
    <div class="col">
      <img src="assets/images/aran.jpg" class="image" alt="Aran">
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col">
      <p align="center">Stelios - <i>Developer</i></p>
    </div>
    <div class="col">
      <p align="center">Daniel - <i>...</i></p>
    </div>
    <div class="col">
      <p align="center">Ronny - <i>...</i></p>
    </div>
    <div class="col">
      <p align="center">Murat - <i>Developer</i></p>
    </div>
    <div class="col">
      <p align="center">Aran - <i>...</i></p>
    </div>
  </div>
</div>

<hr class="my-4">

<div class="container">
  <h3 align="center">Sponsoren</h3>
  <div class="row align-items-center">
    <div class="col">
      <a href="https://www.frankfurt-university.de/">
        <img src="assets/images/frauas.jpg" class="sponsor-img">
      </a>
    </div>
    <div class="col">
      <a href="http://www.dpdhl.com/de.html">
        <img src="assets/images/deutschepost.png" class="sponsor-img">
      </a>
    </div>
  </div>
</div>